# Function
- Functions are procedures for executing code
- They accept inputs and retun outputs when the return keyword is used

In [37]:
import pandas as pd
from random import random

In [7]:
def s7():
    print("before")
    return 7**2
    print("after")

In [8]:
s7()

before

49

In [46]:
def flip_coin():
    # generate random number 0-1
    r = random()
    if r > 0.5:
        return "Heads"
    else:
        return "Tails"

In [47]:
flip_coin()

'Tails'

In [50]:
e = []
for i in range(0, 50):
    if i % 2 == 0:
        e.append(i)

In [52]:
def generate_evens():
    return [x for x in range(1,50) if x%2 == 0]

In [53]:
def s(n):
    return n * n

In [55]:
s(3)

9

In [1]:
str.upper("a")

'A'

In [3]:
"a".upper()

'A'

In [4]:
def sum_odd_numbers(numbers):
    total = 0
    for num in numbers:
        if num % 2 !=0:
            total += num
    return total

In [6]:
sum_odd_numbers([1, 2, 3, 4, 5])

9

In [10]:
def exponent(num, power = 2):
    return num ** power

In [14]:
print(exponent(3, 4))
print(exponent(3))

81
9

In [18]:
# Default Parameters can be anything
def add(a, b):
    return a + b

def math(a, b, fn=add):
    return fn(a, b)

def subtract(a, b):
    return a - b

In [19]:
print(math(1, 3))
print(math(5, 2, subtract))

4
3

### Scope

In [20]:
total = 0
def incre():
    global total
    total += 1
    return total

In [25]:
incre()

4

In [26]:
total

4

In [27]:
name = "a"

def greet():
    name = "b"
    return name

In [28]:
greet()

'b'

In [29]:
name

'a'

### docstring

In [30]:
def say_hello():
    """A Simple funcion"""
    return "Hello!"

In [31]:
say_hello.__doc__

'A Simple funcion'

In [32]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [34]:
[1,2].pop.__doc__

'Remove and return item at index (default last).\n\nRaises IndexError if list is empty or index is out of range.'

In [36]:
import random
random.randint.__doc__

'Return random integer in range [a, b], including both end points.\n        '

In [38]:
# DON'T TOUCH THIS PLEASE!
people = ["Hanna","Louisa","Claudia", "Angela","Geoffrey", "aparna"]
# DON'T TOUCH THIS PLEASE!

#Change "Hanna" to "Hannah"
people[0] = "Hannah"
#Change "Geoffrey" to "Jeffrey"
people[4] = "Jeffrey"
#Change "aparna" to "Aparna" (capitalize it)
people[5] = people[5].upper()

In [39]:
people

['Hannah', 'Louisa', 'Claudia', 'Angela', 'Jeffrey', 'APARNA']

In [45]:
sounds = ["super", "cali", "fragil", "istic", "expi", "ali", "docious"]

# Define your code below:
result = ''
for i in sounds:
    result = result + i
result

'supercalifragilisticexpialidocious'

In [44]:
result

'docious'

In [47]:
instructors = []
instructors.append("Colt")
instructors

['Colt']

# built-in function
- lambda & map & filter & any & all
- map: accepts at least two arguments, a function and an "iterable"(list, strings, dic, sets, tuples)
- run the lambda for each value in the iterable and returns a map object 
- filter: filter list with function
- all: Return True if all elements of the iterable are truthy

In [3]:
def square(n): return n*n
square(9)

81

In [5]:
square2 = lambda num: num * num
square2(9)

81

In [6]:
add = lambda a, b: a + b
add(1, 3)

4

In [9]:
print(square.__name__)
print(square2.__name__)

square
<lambda>

In [11]:
nums = [2, 4]

In [23]:
# Example 1)
doubles = list(map(lambda x: x*2, nums))
doubles

[4, 8]

In [26]:
def dou(x): return x*2
doubles2 = list(map(dou, nums))
doubles2

[4, 8]

In [21]:
# Example 2)
char = ["abc", "dEf", "hhH"]
upper = list(map(lambda x: x.upper(), char))
upper

['ABC', 'DEF', 'HHH']

In [27]:
names = ["austin", "penny", "angel", "billy"]
a_names = list(filter(lambda n: n[0] == "a", names))
a_names

['austin', 'angel']

In [29]:
b_names = list(map(lambda n: n[0] == "a", names))
b_names

[True, False, True, False]

In [30]:
b_names = list(map(lambda n: not n[0] == "a", names))
b_names

[False, True, False, True]

In [32]:
# filter 로 필터링한 리스트를 map으로 돌려서 추가작업 한 후 따낸다

In [33]:
names

['austin', 'penny', 'angel', 'billy']

In [35]:
list(map(lambda a: a, filter(lambda b: len(b) >= 6, names)))

['austin']

In [39]:
[name for name in names if len(name) >= 6]

['austin']

### all

In [49]:
[x for x in 'eio' if x in 'aeiou']

['e', 'i', 'o']

In [51]:
people = ["Casey", "Cody", "Billy", "Chris"]
li = [x[0] == 'C' for x in people]
li

[True, True, False, True]

In [52]:
print(all(li))
print(any(li))

False
True

In [53]:
people

['Casey', 'Cody', 'Billy', 'Chris']

In [56]:
for person in people:
    if person[0] == "C":
        return 1
    return "Not C"

SyntaxError: 'return' outside function (<ipython-input-56-8d8a075c4c4d>, line 3)

### sorted(vs. sort)
- sort: is a list method only works on list

In [57]:
n = [6, 1, 8, 2]
sorted(n)

[1, 2, 6, 8]

In [58]:
sorted(n, reverse=True)

[8, 6, 2, 1]

In [61]:
users = [
    {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
    {"username": "katie", "tweets": ["I love my cat"]},
    {"username": "jeff", "tweets": [], "color": "purple"},
    {"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
    {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
    {"username": "guitar_gal", "tweets": []}
]

In [65]:
sorted(users, key=lambda x: x['username'], reverse=False)

[{'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'guitar_gal', 'tweets': []},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']}]

In [76]:
a = "abcde fz"
print(max(a), "min", min(a)+"abc")

z min  abc

In [73]:
min("hello world")

' '

In [1]:
li = ["a", "b", "c"]
max(li)

'c'

In [2]:
max([1, 2, 3, 4])

4

In [5]:
a = lambda n: len(n) in li

In [7]:
a(3)

TypeError: object of type 'int' has no len()