## List Comprehension

- lists are fundamental data structures for ordeded information
- lists can be include any type, even other lists!
- we can modify lists using a variety of methods
- slices are quite useful when making copies of lists
- list comprehension
- nested lists are essential for building more complex data structures
- swapping is quite useful when shuffling or sorting
- 들어가는 Value가 비슷한 정보일 때 리스트는 좋지만 
- Desk, 1, 9.99 등과 같이 하나의 스토리(Describing Data)가 있는 것들은 딕셔너리로 가는게 좋다

### Nested Lists

In [2]:
li = [[i for i in range(1, 5)] for j in range(1, 4)]
li

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [3]:
[[i for i in range(0, 10)] for j in range(0, 10)]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

## Dictionary
- A data structure that consists of key(describe data)-value(represent data) pairs
- describe, create and access
- use build in methods to modify and copy
- Iterate over dictionaries using loops
- Compare and contrast dict and lists

In [12]:
dict_cy = {
    "name": "cy",
    "age": 37,
    "job": "Data Analyst",
    "company": "Nike",
    "own_car": True
}
dict_cy

{'name': 'cy',
 'age': 37,
 'job': 'Data Analyst',
 'company': 'Nike',
 'own_car': True}

In [25]:
print(dict_cy.items())
print(dict_cy.keys())
print(dict_cy.values())

dict_items([('name', 'cy'), ('age', 37), ('job', 'Data Analyst'), ('company', 'Nike'), ('own_car', True)])
dict_keys(['name', 'age', 'job', 'company', 'own_car'])
dict_values(['cy', 37, 'Data Analyst', 'Nike', True])

In [16]:
dict_cy["name"]

'cy'

In [13]:
dict_cy2 = dict(name="cy2", age=36)
dict_cy2

{'name': 'cy2', 'age': 36}

In [18]:
dict_cy2["new_key"] = ["new_value1", "new_value2"]
dict_cy2

{'name': 'cy2', 'age': 36, 'new_key': ['new_value1', 'new_value2']}

In [19]:
for v in dict_cy.values():
    print(v)

cy
37
Data Analyst
Nike
True

In [20]:
for k in dict_cy.keys():
    print(k)

name
age
job
company
own_car

In [33]:
for k, v in dict_cy.items():
    print(f"key is {k}, and value is {v}")

key is name, and value is cy
key is age, and value is 37
key is job, and value is Data Analyst
key is company, and value is Nike
key is own_car, and value is True

In [39]:

donations = dict(sam=25.0, lena=88.99, chuck=13.0, linus=99.5, stan=150.0, lisa=50.25, harrison=10.0)
t=0
for v in donations.values():
    t = t + v
t

436.74

In [37]:
donations.values()

dict_values([25.0, 88.99, 13.0, 99.5, 150.0, 50.25, 10.0])

In [40]:
# dict.clear()
# dict.copy() 
# dict.fromkeys() : create key-value pairs from comma separated values
{}.fromkeys("a", "b")

{'a': 'b'}

In [46]:
dict = {}.fromkeys(['name', 'age', 'email', 'gender'], "unknown")
dict

{'name': 'unknown', 'age': 'unknown', 'email': 'unknown', 'gender': 'unknown'}

In [47]:
dict.fromkeys(["address"], "known")

{'address': 'known'}

In [48]:
dict

{'name': 'unknown', 'age': 'unknown', 'email': 'unknown', 'gender': 'unknown'}

In [51]:
# dict.get(""): Retrieves a key in an object
dict_cy.get("name")

'cy'

In [47]:
d = dict(a=1, b=2, c=3, d=4, e=5)
s = {"f": 6, "g":7, "a":111}

In [48]:
d.pop("c")
d

{'a': 1, 'b': 2, 'd': 4, 'e': 5}

In [42]:
s.update(d)
s

{'f': 6, 'g': 7, 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [45]:
s

{'f': 6, 'g': 7, 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [33]:
sec['a'] = 'b'
sec.update(d)
sec

{'a': 1, 'b': 2, 'c': 3}

In [49]:
playlist = {
        'title': 'patagonia bus',
        'author': 'cold steele',
        'songs': [
            {'title': 'song1', 'artist': ['blue'], 'duration': 2.5},
            {'title': 'song2', 'artist': ['kitty', 'djcat'], 'duration': 5.25},
            {'title': 'song3', 'artist': ['garfield'], 'duration': 2.0}
        ]
}

In [50]:
playlist

{'title': 'patagonia bus',
 'author': 'cold steele',
 'songs': [{'title': 'song1', 'artist': ['blue'], 'duration': 2.5},
  {'title': 'song2', 'artist': ['kitty', 'djcat'], 'duration': 5.25},
  {'title': 'song3', 'artist': ['garfield'], 'duration': 2.0}]}

In [52]:
for song in playlist['songs']:
    print(song['title'], song['duration'])

song1 2.5
song2 5.25
song3 2.0

### dictionary comprehension
- {___:___ for ___ in ___}

In [53]:
num = dict(a=1, b=2, c=3)
squared_num = {key: value ** 2 for key, value in num.items()}
squared_num

{'a': 1, 'b': 4, 'c': 9}

In [54]:
num.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [58]:
{i+1: i**2 for i in list(range(1, 6))}

{2: 1, 3: 4, 4: 9, 5: 16, 6: 25}

In [88]:
{ num: ("even" if num % 2 == 0 else "odd") for num in random.sample(range(1,100), 10)}

{39: 'odd',
 72: 'even',
 64: 'even',
 96: 'even',
 87: 'odd',
 92: 'even',
 10: 'even',
 38: 'even',
 4: 'even',
 88: 'even'}

In [90]:
random.sample(range(1,10), 8)

[7, 5, 9, 2, 3, 6, 8, 4]

In [98]:
random.choices(list(range(1,10)), k=8)

[4, 9, 9, 3, 7, 8, 2, 9]

In [99]:
# 중복 불허 random.samples(list, n)
# 중복 허용 random.choices(list, k=n)
random.choices(range(1,10), k=8)

[7, 9, 7, 8, 9, 2, 1, 2]

In [101]:
list1 = ["CA", "NJ", "RI"]
list2 = ["California", "New Jersey", "Rhode Island"]
{list1[i]: list2[i] for i in range(0,3)}

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [ ]:
dict(zip(list1, list2))

In [102]:
person = [["name", "Jared"], ["job", "Musician"], ["city", "Bern"]]

In [107]:
{i[0]: i[1] for i in person}

{'name': 'Jared', 'job': 'Musician', 'city': 'Bern'}

In [104]:
len(person)

3

In [109]:
{i: 0 for i in "aeiou"}
dict.fromkeys("aeiou", 0)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [110]:
{i:chr(i) for i in range(65, 91)}

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

## Tuple & Set
- describe, create and access
- use built in methods to modify 
- iterate over sets using loop and set comprehensions
- compare and contrast sets & tuplie with lists & dict

### Tuple
- An ordered collection or grouping of items!
- i = (1, 2, 3, 4)
- it is immutable(can never be changed)
- faster than lists
-

In [113]:
t = (1, 2, 3, 3)
len(t)

4

Some dictionary method
- dict.items()

### Sets
- Sets are like formal mathmatical sets
- Sets do not have duplicate values(like dictionary)
- Elements in sets aren't ordered(unlike list)
- You cannot access item in a set by index
- Sets can be useful if you need to keep track of a collection of elements, but don't care about ordering, keys or values and duplicates

In [5]:
s = {1, "2", 3.14, 4, 5, 5, 5}
s

{1, '2', 3.14, 4, 5}

In [3]:
# no order = no slicing by index
s[0]

TypeError: 'set' object is not subscriptable

In [4]:
4 in s

True

In [8]:
for i in s:
    print(i)

1
3.14
4
5
2

In [9]:
len(s)

5

In [11]:
s.add(6)
s

{1, '2', 3.14, 4, 5, 6}

In [22]:
s = {1, 2, 3, 4, 5}
s.remove(4)
s

{1, 2, 3, 5}

In [23]:
s2 = s.copy()
s2

{1, 2, 3, 5}

In [24]:
s == s2

True

In [25]:
s is s2

False

### Set Math
- intersection
- symmetric_difference
- union

In [40]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
print("Union: ", a | b)
print("Intersection: ", a & b)
print("difference1: ", a - b)
print("difference1: ", b-  a)

Union:  {1, 2, 3, 4, 5, 6, 7}
Intersection:  {3, 4, 5}
difference1:  {1, 2}
difference1:  {6, 7}

In [41]:
values = [10,20,30]
tuple(values)

(10, 20, 30)

In [42]:
stuff = [1,3,1,5,2,5,1,2,5]
set(stuff)

{1, 2, 3, 5}

In [46]:
# Set comprehension
a = {x ** 2 for x in range(10)}
print(a)
print(type(a))

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
<class 'set'>

In [45]:
b = {x: x ** 2 for x in range(10)}
print(b)
print(type(b))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'>

In [47]:
{i for i in "abcdabcdabcd"}

{'a', 'b', 'c', 'd'}